body{
font-family:'Cinzel', serif;
margin:0;
background:#f9f3f5;
color:#333;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 40px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
display:flex;
align-items:center;
gap:10px;
font-size:22px;
font-weight:600;
color:#e86a87;
}


.logo-link {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: inherit;
}

/* ЛОГО */
.logo-img {
  width: 60px;   /* 👉 тут регулируешь размер */
  height: auto;
}

/* ТЕКСТ */
.logo-text {
  font-size: 20px;
  font-weight: 500;
  color:#C71585;
  
}
.nav a{
margin-right:20px;
text-decoration:none;
color:#555;
}

.contact-btn{
background:#e87b93;
border:none;
padding:10px 20px;
border-radius:8px;
color:white;
}

.contact-wrapper {
  position: relative;
  display: inline-block; /* Позволяет элементам стоять в ряд */
  vertical-align: middle; /* Выравнивает обертку по центру относительно текста */
}

.contact-dropdown{

position:absolute;
top:50px;
right:0;

background:white;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,0.1);

padding:10px;

display:none;

min-width:220px;

z-index:100;

}

.contact-item{

display:block;

padding:10px;

text-decoration:none;

color:#333;

border-radius:8px;

transition:0.2s;

}

.contact-item:hover{
background:#f5f5f5;
}


.nav-container {
  display: flex;
  align-items: center; /* Центрирует и ссылку, и кнопку по вертикали */
  gap: 15px;           /* Делает аккуратный отступ между ними */
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
  color: #333;
  font-size: 16px;
}


.hero{
height:420px;
display:flex;
align-items:center;
padding-left:80px;

background-image:url("hero.jpg");
background-size:cover;
background-position:center;
}

.hero-content{
max-width:450px;
color:white;
}

.hero-content h1{
font-size:38px;
margin-bottom:20px;
}

.hero-content p{
font-size:16px;
margin-bottom:25px;
opacity:0.9;
}

.hero-btn{
background:#e86c8a;
border:none;
padding:14px 24px;
color:white;
font-size:15px;
border-radius:6px;
cursor:pointer;
}

.hero-btn:hover{
background:#d85c7b;
}

.main-btn{
background:#e87b93;
color:white;
border:none;
padding:15px 25px;
border-radius:8px;
margin-top:20px;
cursor:pointer;
}

.services{
display:flex;
gap:30px;
padding:60px 80px;
flex-wrap:wrap;
}

.card{

flex:1;

display:flex;
align-items:center;
gap:20px;

background:#ffffff;

padding:25px;

border-radius:14px;

cursor:pointer;

transition:all 0.3s ease;

box-shadow:0 10px 20px rgba(0,0,0,0.05);

flex:1 1 300px;
}

.card:hover{

transform:translateY(-5px);

box-shadow:0 20px 35px rgba(232,108,138,0.3);

}

.icon-box{

width:100px;
height:100px;

background:white;

display:flex;
align-items:center;
justify-content:center;

border-radius:14px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.icon-box img{

width:62px;
height:62px;

}

.card-text h3{

margin:0;

font-size:18px;

font-weight:600;

color:#2b2b2b;

}

.card-text p{

margin-top:6px;

font-size:14px;

color:#666;

}
.card:active{

transform:scale(0.96);

}

.solution-section{

display:flex;
justify-content:center;

padding:70px 20px;

background:#f3e6ea;

}

.solution-container{
display:flex;
align-items:center;

justify-content:flex-start;

gap:20px;

max-width:1000px;

}

.solution-left{

flex:1;

}

.solution-left h2{

font-size:28px;
margin-bottom:10px;

}

.solution-sub{

color:#777;
margin-bottom:25px;

}

.support-list{

display:flex;

flex-direction:column;

gap:12px;

margin-top:20px;

max-width:420px;

}

.support-item{

display:flex;

align-items:center;

gap:15px;

background:white;

padding:15px;

border-radius:14px;

cursor:pointer;

transition:0.3s;

box-shadow:0 8px 20px rgba(0,0,0,0.05);

}

.support-item:hover{

transform:translateX(6px);

box-shadow:0 12px 25px rgba(232,108,138,0.25);

}

.support-icon{

display:flex;
align-items:center;
justify-content:center;

font-size:24px;

color:#e86c8a;

}

.support-icon img{

width:56px;
height:56px;

}

.support-item{

background:rgba(255,255,255,0.6);

}

.support-text h4{

margin:0;

font-size:16px;

}

.support-text p{

margin:2px 0 0 0;

font-size:13px;

color:#777;

}

.support-arrow{

margin-left:auto;

font-size:22px;

color:#aaa;

}


.image-slider{


flex: 1;
max-width:500px;
height:320px;

border-radius:20px;

overflow:hidden;

box-shadow:0 20px 40px rgba(0,0,0,0.1);

position:relative;


margin-top: 100px;
}
.image-slider img{

width:100%;

height:100%;

object-fit:cover;


}
.slide{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
opacity:0;
transition:opacity 1s;
}

.slide.active{
opacity:1;
}

.stories-box{
display:none;
margin-top:20px;
padding:20px;
background:white;
border-radius:14px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.stories-box.active{

max-height:300px;

padding:20px;

overflow-y:auto;

}

.advice-box{

max-height:0;

overflow:hidden;

transition:max-height 0.6s ease;

background:white;

border-radius:14px;

margin-top:10px;

box-shadow:0 10px 25px rgba(0,0,0,0.08);

}

.advice-box.active{

max-height:300px;

padding:20px;

overflow-y:auto;

}

.advice-box h3{

color:#e86c8a;

margin-top:10px;

}

.advice-box ul{

padding-left:20px;

}

.advice-box li{

margin-bottom:8px;

}
.story{

margin-bottom:20px;

padding-bottom:15px;

border-bottom:1px solid #eee;

}

.story h3{

margin:0;

color:#e86c8a;

}

.story p{

margin-top:8px;

font-size:14px;

color:#555;

}

.support-item{
background:white;
padding:15px;
margin-top:10px;
border-radius:8px;
}

.survey-section{

display:flex;

align-items:center;

justify-content:center;

text-align:center;

padding:100px 20px;

background:linear-gradient(
45deg,
#ffffff,
#ffd6e0,
#e86c8a,
#f3e6ea
);

background-size:400% 400%;

animation:gradientMove 12s ease infinite;

}

@keyframes gradientMove{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

.survey-content h2{

font-size:28px;

margin-bottom:25px;

color:#333;

}

.survey-btn{

background:#e86c8a;

color:white;

border:none;

padding:14px 28px;

font-size:16px;

border-radius:10px;

cursor:pointer;

transition:0.3s;

}

.survey-btn:hover{

transform:scale(1.05);

background:#d75a78;

box-shadow:0 10px 25px rgba(232,108,138,0.4);

}

.site-footer{

background:#f3dbe1;

padding:30px 20px 20px;

border-top:1px solid rgba(0,0,0,0.1);

}

.footer-container{

display:flex;

justify-content:space-between;

align-items:center;

max-width:1100px;

margin:auto;

}

.footer-left a{

color:#555;

text-decoration:none;

font-size:14px;

margin-right:10px;

}

.footer-left span{

color:#999;

margin-right:10px;

}

.footer-left a:hover{

color:#e86c8a;

}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  transition: 0.3s;
}

/* Instagram */
.instagram {
  background: radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf);
}

/* Telegram */
.telegram {
  background: #2AABEE;
}

/* hover эффект */
.social-icon:hover {
  transform: scale(1.1);
}

.footer-bottom{

text-align:center;

margin-top:20px;

font-size:13px;

color:#777;

}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
justify-content:center;
align-items:center;
z-index:1000;
}

.modal-box{

background:white;
padding:40px;
border-radius:20px;
width:420px;
text-align:center;
position:relative;

box-shadow:0 20px 50px rgba(0,0,0,0.2);
}

.modal-close{

position:absolute;
top:15px;
right:20px;
font-size:28px;
cursor:pointer;
color:#999;
}

.modal-close:hover{
color:black;
}

.modal-sub{
color:#777;
margin-bottom:25px;
}

.modal-btn{

display:block;
width:100%;
padding:16px;
border-radius:12px;
margin-bottom:15px;
font-size:16px;
text-decoration:none;
font-weight:600;
}

.call-btn{
background:#2d6cdf;
color:white;
}

.whatsapp-btn{
background:#e6f3ec;
color:#0a7f3f;
}

.modal-close-bottom{

font-size:26px;
margin-top:10px;
cursor:pointer;
color:#999;
}

.modal-content{

background:white;

padding:35px;

border-radius:14px;

animation:scaleIn 0.3s;

}

@keyframes fadeIn{

from{opacity:0}
to{opacity:1}

}

@keyframes scaleIn{

from{
transform:scale(0.7);
opacity:0;
}

to{
transform:scale(1);
opacity:1;
}

}


.video-section{

text-align:center;

padding:80px 20px;

background:#f3e6ea;

}

.video-slider{

display:flex;

align-items:center;

justify-content:center;

gap:20px;

margin-top:30px;

}

.video-container{

width:750px;

height:420px;

background:#cb64eb;

border-radius:30px;

overflow:hidden;

display:flex;

align-items:center;

justify-content:center;

}

.video-container video{

width:100%;
height:100%;

object-fit:contain;

background:black;

}

.video-btn{

width:60px;
height:60px;

border-radius:50%;

border:none;

background:#ca7df7;

color:white;

font-size:24px;

cursor:pointer;

transition:0.3s;

}

.video-btn:hover{

transform:scale(1.1);

background:#ad4ce6;

}

@media (max-width:768px){

.video-container{

width:100%;

height:320px;

}

.video-btn{

width:45px;
height:45px;

}

}







.faq-item{
border-bottom:1px solid #eee;
padding:10px;
}



.faq-answer{
display:none;
margin-top:5px;
color:#555;
}

.faq-question{
display:flex;
justify-content:space-between;
align-items:center;
cursor:pointer;
padding:12px 0;
font-weight:600;
}

.faq-arrow{
transition:0.3s;
color:#888;
font-size:14px;
}

.faq-question.active .faq-arrow{
transform:rotate(90deg);
color:#e86c8a;
}




.telegram-btn{

background:linear-gradient(90deg,#3aa0d8,#2f8fc3);
color:white;
font-weight:600;

}

.modal-divider{

margin:15px 0;
color:#999;
font-size:14px;

}

.modal-question{

width:100%;
padding:14px;
border-radius:12px;
border:2px solid #ddd;
background:white;
font-size:16px;
cursor:pointer;

}

.modal-question:hover{

background:#f5f5f5;

}

.modal-cancel{

margin-top:15px;
color:#666;
cursor:pointer;
font-size:16px;

}

.modal-cancel:hover{

color:black;

}




.about{
padding:60px;
}

.about-container{

display:flex;
align-items:center;
gap:40px;

background:white;
padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.08);

}

.about-img{

width:350px;
border-radius:20px;

}

.about-text h2{
margin-bottom:20px;
color:#e86a87;
}

.about-text p{
margin-bottom:15px;
line-height:1.6;
color:#444;
}
































/* Делаем так, чтобы фон с бабочками был под контентом сайта */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Делаем бабочек ПОВЕРХ всего контента */
  z-index: 9999; 
  
  /* ЭТО ГЛАВНОЕ: клики будут проходить сквозь бабочек на твой сайт */
  pointer-events: none; 
  
  /* Убираем белый фон у канваса, чтобы видеть твой сайт */
  background: transparent !important;
}

/* Если хочешь оставить подсказку про мышку */
#help {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  color: #888;
  font-family: sans-serif;
}





.video-full {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* ОБЩЕЕ ДЛЯ ВСЕХ ВИДЕО */
.video-full iframe,
.video-full video {
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  background: black;
}

/* ВЕРТИКАЛЬНОЕ */
.video-vertical {
  width: 300px;
  height: 530px;
}

/* ГОРИЗОНТАЛЬНОЕ */
.video-horizontal {
  width: 100%;
  height: 450px;
}


#videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ОБЩЕЕ */
#videoContainer iframe,
#videoContainer video {
  width: 100%;
  max-width: 800px;
  height: 450px;
  border-radius: 15px;
  background: black;
  object-fit: contain;
}

/* ВЕРТИКАЛЬНЫЕ */
.video-vertical {
  width: 320px !important;
  height: 570px !important;
}

/* горизонтальные */
.video-horizontal {
  width: 100%;
  max-width: 900px;
  height: 500px;
}


